/* RTL adjustments for PoeTheme */
body {
  direction: rtl;
}

.nav-primary,
.breadcrumbs,
.poetheme-breadcrumbs,
.widget,
footer nav {
  text-align: right;
}

.poetheme-subheader__inner {
  direction: rtl;
}

.breadcrumbs__separator-text {
  transform: scaleX(-1);
}
